.message{class: "#{message.read ? '' : 'unread'}"}
  .sender
    - sender = message.sender
    = user_image sender
    = link_to sender.name, sender
    - if message.kind == 'up'
      鼓励了一下你：
    - elsif message.kind == 'down'
      督促了一下你：
  .body    
    = message.body