= form_for @message, validate: true, remote: true do |f|
  = f.hidden_field :to, value: params[:user_id]
  = f.hidden_field :kind, value: params[:kind]

  = f.text_area :body, rows: 3
  .clearfix
  - if @message.kind == 'up'
    = f.submit "鼓励一下", class: "btn btn-success" 
  - elsif @message.kind == 'down'
    = f.submit "督促一下", class: "btn btn-primary" 

  :coffeescript
    $("form.new_message").on "ajax:success", (event, data, status, xhr) ->
        $("form.new_message").slideUp(300)