= simple_form_for(@profile, url: profile_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
  .form-inputs
    = f.input :timezone, prompt: t(".select_timezone"), collection: (-12..14), label_method: lambda{|i| "%+02d:00" % i}
    = f.input :remind_at, prompt: t(".select_remind_at"), collection: (0..23), label_method: lambda{|i| "%02d:00" % i}

  .form-actions
    = f.button :submit
