%h1 Listing targets

%table
  %tr
    %th Description
    %th
    %th
    %th

  - @targets.each do |target|
    %tr
      %td= target.description
      %td= link_to 'Show', target
      %td= link_to 'Edit', edit_target_path(target)
      %td= link_to 'Destroy', target, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Target', new_target_path
