- data = user_statistic_data @user
.statistics
  #week_data_container(style="width: 800px; height: 220px; margin: 0 auto")
  #month_data_container(style="width: 800px; height: 220px; margin: 0 auto")
  #year_data_container(style="width: 800px; height: 220px; margin: 0 auto")
    
- content_for :script do
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

  :coffeescript
    $ ->
        init_user_statistics(week: #{data[:week]}, month: #{data[:month]}, year: #{data[:year]})
