- profile = @user.profile
%p
  = user_image @user
  = profile.name
%p
  %b 目标:
  = profile.target.name
%p
  %b 自我介绍:
  = profile.description
%p
  %b 总共完成小时:
  = profile.total_spend

= link_to '编辑', edit_profile_path(@record), class: "btn primary-btn" if user_signed_in? and @user == current_user

= render partial: "users/statistics"
