- if not user_signed_in?
  .span2.offset5
    %a.btn.btn-success.join{href: new_user_registration_path}
      = "加入！"

- elsif not current_user.profile.target
  .span3.offset4
    = "选择您的目标："
    %select.span2
      - Target.order('id desc').each do |t|
        %option= t.name
  .span2
    = button_to "就是它了！", target_profile_path, class: "btn btn-success", method: :put

- elsif not current_user.record_today?
  .span2.offset5
    %a.btn.btn-success.record#btn_record_today
      = "本日记录"
  = render partial: "records/dlg", locals: {record: Record.new}

- else
  - record = current_user.last_record
  .span4.offset4.center
    %p
      您今天做了#{record.spend}小时， 请明天再接再厉！
  .span4.offset4.center
    %a.btn.btn-success.record#btn_record_today
      = "更新本日记录"
  = render partial: "records/dlg", locals: {record: record}
