.time_period
  - users = Timeline.users(from, to).limit(12)
  .users
    - users.each do |user|
      .user.user_head{:"data-user_id" => user.id, style: user_pos(user), "data-user_name" => user.name, "data-user_summary" => (user.last_record.summary rescue "")}
        .img= user_image user
        - if signed_in? and user == current_user
          .i_am_here= t(".i_am_here")

  .traces
    - users.each do |user|
      .user.user_trace{:"data-user_id" => user.id, style: user_pos(user)}
        - traces = user_traces user
        - height = traces_height traces
        .traces{style: "height: #{height}px; top: -#{height}px"}
          - traces.each_with_index do |r, i|
            .trace{style: "height: #{r.spend * 10}px", class: "trace-#{i}"}

  .milestones
    - Timeline.milestones(from, to).each do |m|
      .milestone{style: "top: #{m * 10}px"}
        .hour= "#{m} hours"
