#timeline
  %a.btn.timeline_up= t(".up")
  %a.btn.timeline_down= t(".down")

  #middleline

  #metric
    = render partial: "time_period", locals: user_signed_in? ? current_user.display_scale : {from: 0, to: 20}
#timeline_ctr.Clearfix
  %span.start 0 hours
  %input.timeline_slider{type:"range",min:0,max:10000,step:10}
  %span.end  10k  hours
  
.clearfix
#selected_user_outter
