- selected_user = @user
#selected_user.row{"data-user_id" => selected_user.id}
  .title.span4.offset4
    = user_image selected_user
    = selected_user.last_record.summary rescue ""
  .span4.offset4
    .btn-toolbar

      .btn-group
        %a.btn.btn-primary.msg_btn{"data-kind" => "up"}
          %i.icon-thumbs-up
          = "鼓励一下"
        %a.btn.btn-primary.msg_btn{"data-kind" => "down"}
          %i.icon-exclamation-sign
          = "督促一下"
        %a.btn.btn-primary.follow_btn
          %i.icon-eye-open
          = "关注"
        %a.btn.btn-info{href: user_path(selected_user), target: "_blank"}
          %i.icon-user
          = "用户信息"

  .msg_form.span4.offset4

:coffeescript
  init_timeline_user_control()
