= render partial: "title"
= render partial: "timeline"
= render partial: "activities/list", locals: {activities: Activity.order('id desc').first(10)}

- content_for :script do
  - current_spend = user_signed_in? ? current_user.profile.total_spend : 0
  :coffeescript
    $ init_timeline current: #{current_spend}
    $ init_record_control
