.modal.hide.fade#record_dlg
  = simple_form_for(record, remote: true) do |f|
    = f.error_notification
  
    .form-inputs
      = f.input :spend
      = f.input :summary, input_html: {rows: 5}
  
    .form-actions
      = f.button :submit

