%h1 Listing records

%table
  %tr
    %th User
    %th Target
    %th Spend
    %th Summary
    %th
    %th
    %th

  - @records.each do |record|
    %tr
      %td= record.user
      %td= record.target
      %td= record.spend
      %td= record.summary
      %td= link_to 'Show', record
      %td= link_to 'Edit', edit_record_path(record)
      %td= link_to 'Destroy', record, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Record', new_record_path
