%p#notice= notice

%p
  %b User:
  = @record.user
%p
  %b Target:
  = @record.target
%p
  %b Spend:
  = @record.spend
%p
  %b Summary:
  = @record.summary

= link_to 'Edit', edit_record_path(@record)
\|
= link_to 'Back', records_path
