@import "base"

$TIMELINE_HEIGHT: 300px

img.user_mage
  width: 40px
  height: 40px

.center
  text-align: center

.home_title
  margin: 20px 0
  h1
    text-align: center
    font-size: 100px
    line-height: 100px
    margin: 20px
    text-shadow: #999 10px 10px 4px
  .desc
    text-align: center
  .btn.join, .btn.record
    text-align: center
    width: 100%
  #btn_record_today
    width: 100px


#timeline
  width: 85%
  float: left
  border: 2px solid #eee
  +border-radius(10px)
  box-shadow: 5px 5px 5px #aaa
  position: relative
  padding: 40px 20px
  overflow: hidden
  height: $TIMELINE_HEIGHT
  .timeline_up, .timeline_down
    position: absolute
    left: 10px
    z-index: 300
    width: 30px
  .timeline_up
    top: 10px
  .timeline_down
    bottom: 10px

  #metric
    position: relative
    left: 0
    top: 0  
    min-height: 100000px
    .user.user_head
      z-index: 200
    .user.user_trace
      z-index: 150

    .user
      position: absolute
      left: 0
      top: 40px
      .traces
        position: absolute
        .trace
          width: 4px
          margin-left: 18px
        .trace-0
          background-color: #ECCAAC
        .trace-1
          background-color: #DCB686
        .trace-2
          background-color: #C8E0B8
        .trace-3
          background-color: #F2DD90
        .trace-4
          background-color: #A1BEA8
      .i_am_here
        position: absolute
        left: 46px
        top: 10px
        width: 100px

    .milestone
      position: absolute
      top: 20px
      left: 19px
      width: 98%
      border-bottom: 2px solid #ddd
      .hour
        position: absolute
        background-color: white
        text-align: center
        top: -8px
        left: 10px
        color: #51A351
        font-weight: bold
        width: 90px
  #middleline
    width: 5px
    background-color: #888
    height: 300px
    position: absolute
    left: 34px
       
#timeline_ctr
  width: 10%
  position: relative
  float: right
  .timeline_slider
    -webkit-transform: rotate(90deg)
    position: relative
    left: -176px
    width: 367px
    top: 179px
  .start, .end
    position: absolute
    left: 25px
  .start
    top: 5px
  .end
    top: 360px

#selected_user_outter
  margin: 40px 0 10px
#selected_user
  text-align: center
  clear: both
  overflow-x: hidden
  .btn-group
    vertical-align: middle
  .title
    .summary
      margin-left: 10px

.modal
  .simple_form
    margin-bottom: 0
    .form-inputs
      margin: 0 10px
    .form-actions
      margin-bottom: 0
      +border-bottom-radius(6px)

.activities
  max-width: 400px
  .activity
    border-bottom: 1px solid #ccc
    margin-bottom: 10px