.message_count
  font-weight: bold
  &.present
    color: red

.messages
  .message
    padding: 5px
    border-bottom: 1px solid #ccc
    margin-bottom: 20px
    .sender
      margin-bottom: 10px
    &.unread
      .sender
        background: #eee
    